html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL STYLING */

:root {
    --purple: #6a46fe;
    --light-blue: #25f8ea;
    --dark-blue: #3633ff;
    --main-text: 'Roboto Slab', serif;

}

@font-face {
    font-family: spartan;
    src: url(/assets/league-spartan/LeagueSpartan-Bold.otf);
}

html {
    font-size: 125%;
    scroll-behavior: smooth;
    background-color: #000;
    color: #FFFFFF;
    font-family: spartan;
    letter-spacing: 0.02em;
    /* font-family: 'Roboto Slab', serif; */
}

*,
figure {
    padding: 0;
    margin: 0;
}

h1, 
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* text-align: center; */
    line-height: 1.5em;
}

p {
    font-family: var(--main-text);
    line-height: 1.25em;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0em .5em;
}

p, 
h2,
h3 {
    padding: .5rem 0;
}

.center-text {
    text-align: center;
}

.purple-button {
    padding: 1em 1em;
    margin: 1rem 0;
    border-radius: .4em;
    border: none;
    background-color: var(--purple);
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--main-text);
    letter-spacing: 0.05em;
}

/* HAMBURGER */

.ham-nav {
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0 .5rem .5rem .4rem;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    z-index: 10;
}

.ham-ul {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 100vh;
    display: none;
    flex-direction: column;
    width: 100%;
}

.ham-ul li {
    padding: 1rem 0;
}

.ham-ul li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    color: black;
    padding: 1.3rem 0;
}

.ham-link::after {
    position: relative;
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: transparent;
    transition: width .4s ease;
}

.ham-link:hover::after{
    /* position: relative; */
    display: block;
    content: "";
    width: 100%;
    background-color: var(--purple);
    /* background-position: left bottom; */
}

/* .ham-link:hover {
    border-bottom: 2px solid black;
} */

/* .ham-ul li a:hover {
    color: var(--purple);
    /* border-bottom: 1px solid var(--purple); */
    /* transition: .2s ease-in-out; */
    /* border: 1px red solid; */
    /* background-image: linear-gradient(to right, var(--purple) 100%, #fff 0);
    background-position: 0 75%;
    background-repeat: repeat-x;
    background-size: 100% 5%;
    width: min-content; */
    /* transition: all 0.5s ease-in-out; */
/* } */ 

.ham-ul.show {
    display: flex;
    background-color: white;
    height: 100vh;
    /* transform: scale(1, 0);
    transition: transform 400ms ease-in-out; */
    /* transform-origin: top; */
}

.logo-container {
    display: flex;
}

.logo {
    max-width: 5rem;
    /* width: 30%; */
}

.hamburger {
    /* display: flex;
    justify-content: end; */
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    /* width: 3em; */
    height: 1.5em;
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: .5em;
    padding: 0;
    display: block;
}

.hamburger:focus {
    outline: none;
}

.bars {
    width: 1.5em;
    height: .25em;
    /* background-color: var(--dark-blue); */
    background-color: var(--purple);
    position: relative;
    border-radius: 1em;
    /* transition: 0.15s; */
    transition: 0.35s;
}

.bars::before, 
.bars::after {
    content: '';
    width: 1.5em;
    height: .25em;
    position: absolute;
    left: 0px;
    border-radius: 1em;
    background-color: var(--purple);
    transition: 0.35s;
}

.bars::before {
    top: .4em;
    /* background-color: var(--light-blue); */
}

.bars::after {
    top: -.4em;
    /* background-color: var(--purple); */
}

/* HAMBURGER ANIMATION */

.hamburger.active .bars {
    background-color:rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    /* transition: 0.35s; */
    position: fixed;
}

.hamburger.active .bars:before {
    top: 0;
    transform:rotate(45deg);
    background-color: var(--purple);
}

.hamburger.active .bars:after {
    background-color: var(--purple);
    top: 0;
    transform:rotate(135deg);
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); */
}

.logo-container.hide {
    display: none;
}

/* INDEX/MAIN */
.typewriter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.typewriter-text {
    margin-left: .5rem;
    /* border-right: white solid 1px; */
    /* height: .5rem; */
}

.main-section {
    padding: 1.5rem 0;
}

.main-text { 
    padding: .5rem 0;
}

.typewriter-span {
    animation: blinker 1s linear infinite;
    height: 1rem;
    margin-left: .05rem;
    position: relative;
    top: 2px
}

@keyframes blinker {
    50%{
        opacity: 0;
    }
}

.hero, 
.contact-image-container, 
.about-header-container {
    padding-top: 4rem;
}

.headshot-container { 
    text-align: center;
}

.headshot-container img {
    max-width: 650px;
}

.main-button-container {
    display: flex;
    justify-content: space-evenly;
}

/* CAROUSEL */

.carousel {
    position: relative;
    /* height: 100%; */
    height: 350px;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* text-align: initial; */
    /* review this later, much of this is likely not needed */
}

.carousel__track-container {
    border: lightgreen 1px solid;
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in;
    overflow: hidden;
}

.carousel__track {
    position: relative;
    height: 100%;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: transparent; */
    /* border: 0; */
}

.carousel__button--left {
    left: -50px;
    cursor: pointer;
}

.carousel__button--right {
    right: -65px;
    cursor: pointer;
}

.carousel__nav {
    border: pink 1px solid;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 1);
    margin: 0 12px;
    cursor: pointer;
    /* transition: transform 250ms ease-in; */;
}

.carousel__button--right,
.carousel__button--left {
    border: 1px dodgerblue solid;
    padding: .2rem;
}

.carousel__indicator.current-slide {
    background: var(--purple);
}

.is-hidden {
    display: none;
}

/* END OF CAROUSEL */ 

.fa-figma,
.fa-invision {
    font-size: 100px;
}

.skill-list {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* padding-top: 1.5rem; */
    height: 100%;
    align-items: center;
    align-content: center;
}

.icon-container {
    max-width: 100px;
}

.proficiencies-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

/* UX/PORTFOLIO */

.ios-app {
    background-image: url(/assets/iOS-hero.png);
    background-position: top;
    background-repeat: no-repeat;
}

.project .button-container{
    justify-content: left;
}

.packd {
    background-image: url(/assets/packd.jpg);
    background-size: cover;
}

.packd .project {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: row-reverse;
}

.project-right {
    /* border: 1px solid dodgerblue; */
    width: 50%;
}

.project-bleed {
    /* border: dodgerblue 1px solid; */
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 50vh;
    position: center;
}

.main-text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.button-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

/* CASE STUDIES */
.case-study-container {
    padding-top: 5rem;
}

.case-study-img-container {
    max-width: 1450px;
}

/* ABOUT */

.about-header-container { 
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
    position: relative;
    flex-direction: row-reverse;
    padding-bottom: 2.5rem;
}

.about-logo-container {
    /* contains h1 */
    /* max-width: 300px; */
    width: 55%;
    text-align: left;
    display: flex;
    align-content: center;
    /* padding-left: 1rem; */
    align-items: center;
}

.about-header-image-container {
    max-width: calc(33%);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.about-header-image-container img {
    border-radius: 50%;
}

.hobby {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

.design {
    background-image: url(/assets/design-sketch.jpg);
}

.craft {
    background-image: url(/assets/pouring.jpg);
}

.story {
    background-image: url(/assets/evil-dead.jpg);
}

.music {
    background-image: url(/assets/drumsticks-on-head.jpg);
}

.language {
    background-image: url(/assets/BONJOOUUURRR.jpg);
}

.hobby-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hobby-header {
    font-size: 3.5rem;
}
.hidden-text-container {
    display: none;
}

.hidden-text {
    width: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.hobby:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    transition: all 300ms ease-in-out;
}

.hobby:hover .hidden-text-container {
    display: block;
}

.hobby:hover .hobby-header {
    display: none;
}





/* .hobbies {
    background-color: #FFFFFF;
    color: var(--purple);
    padding-top: 2rem;
    text-align: center;
}

.hobby-container {
    display: flex;
    justify-content: space-between;
}

.hobby {
    padding: 1.5rem 1rem;
}

.hobby img {
    min-width: 250px;
    max-width: 250px;
}

.dark-text {
    color: #000;
} */

/* CONTACT */

.contact-image-container {
    text-align: center;
}

.contact-image {
    max-width: 850px;
}

.contact-heading {
    text-align: center;
}

.contact-body {
    padding: 1.5rem 0 .75rem 0;
}

.contact-span {
    color: var(--purple);
    border-bottom: 1px solid;
    /* above is underline from original design, would recommend underline OR italics but not both */
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
}

/* .form-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.submit-button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 45%;
    max-width: 10rem;
    padding: .75em .5em;
    margin: 1rem 0;
    border-radius: .4em;
    border: none;
    background-color: var(--purple);
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--main-text);
    letter-spacing: 0.05em;
}

/* FOOTER */

footer {
    background-color: white;
    color: black;
    padding: 1.5rem 0rem;
    /* margin-top: 1rem; */
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* DO NOT FORGET TO REMOVE THIS LATER AFTER ADDING WILDCARD SELECTOR */
}

/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
    .hobby-container {
        flex-direction: column;
    }

    .hobby img {
        max-width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .main-button-container {
        flex-direction: column;
    }

    .main-button-container .button-container {
        margin: .2rem 0 ;
    }
}

@media screen and (max-width: 550px) {
    .project-right {
        width: 65%;
    }
}

@media screen and (max-width: 420px) {
    .project-right {
        width: 80%;
    }
}
