html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL STYLING */

:root {
    --purple: #6a46fe;
    --light-blue: #25f8ea;
    --dark-blue: #3633ff;
    --main-text: 'Roboto Slab', serif;

}

@font-face {
    font-family: spartan;
    src: url(/assets/league-spartan/LeagueSpartan-Bold.otf);
}

html {
    /* font-size: 125%; */
    scroll-behavior: smooth;
    background-color: #000;
    color: #FFFFFF;
    font-family: spartan;
    letter-spacing: 0.02em;
    /* font-family: 'Roboto Slab', serif; */
}

*,
figure {
    padding: 0;
    margin: 0;
}
/* wildcard */

h1, 
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* text-align: center; */
    line-height: 1.5em;
}

p {
    font-family: var(--main-text);
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0em .5em;
}

p, 
h2,
h3 {
    padding: .5rem 0;
}

/* HAMBURGER */

.ham-nav {
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    z-index: 10;
    /* border: 1px red solid; */

    /* align-items: center; */
    /* justify-content: center; */
}

.ham-ul {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 100vh;
    display: none;
    flex-direction: column;
    width: 100%;

    /* align-items: center; */
}

.ham-ul li {
    padding: 1rem 0;
}

.ham-ul li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    color: black;
    padding: 1.3rem 0;
}

.ham-link::after {
    position: relative;
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: transparent;
    /* background-position: top right; */
    transition: width .4s ease;
}

.ham-link:hover::after{
    /* position: relative; */
    display: block;
    content: "";
    width: 100%;
    background-color: var(--purple);
    /* background-position: left bottom; */
}

/* .ham-link:hover {
    border-bottom: 2px solid black;
} */

/* .ham-ul li a:hover {
    color: var(--purple);
    /* border-bottom: 1px solid var(--purple); */
    /* transition: .2s ease-in-out; */
    /* border: 1px red solid; */
    /* background-image: linear-gradient(to right, var(--purple) 100%, #fff 0);
    background-position: 0 75%;
    background-repeat: repeat-x;
    background-size: 100% 5%;
    width: min-content; */
    /* transition: all 0.5s ease-in-out; */
/* } */ 

.ham-ul.show {
        display: flex;
        background-color: white;
        height: 100vh;
        /* transform: scale(1, 0);
        transition: transform 400ms ease-in-out; */
        /* transform-origin: top; */
    }

.logo-container {
    display: flex;
}

.logo {
    max-width: 5rem;
    /* width: 30%; */
}

.hamburger {
    /* display: flex;
    justify-content: end; */
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    /* width: 3em; */
    height: 1.5em;
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: .5em;
    padding: 0;
    display: block;
}

.hamburger:focus {
    outline: none;
}

.bars {
    width: 1.5em;
    height: .25em;
    /* background-color: var(--dark-blue); */
    background-color: var(--purple);
    position: relative;
    border-radius: 1em;
    /* transition: 0.15s; */
    transition: 0.35s;
}

.bars::before, 
.bars::after {
    content: '';
    width: 1.5em;
    height: .25em;
    position: absolute;
    left: 0px;
    border-radius: 1em;
    background-color: var(--purple);
    transition: 0.35s;
}

.bars::before {
    top: .4em;
    /* background-color: var(--light-blue); */
}

.bars::after {
    top: -.4em;
    /* background-color: var(--purple); */
}

/* HAMBURGER ANIMATION */

.hamburger.active .bars {
    background-color:rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    /* transition: 0.35s; */
    position: fixed;
}

.hamburger.active .bars:before {
    top: 0;
    transform:rotate(45deg);
    background-color: var(--purple);
}

.hamburger.active .bars:after {
    background-color: var(--purple);
    top: 0;
    transform:rotate(135deg);
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); */
}

.logo-container.hide {
    display: none;
}

.hero, 
.contact-image-container, 
.about-header-container {
    padding-top: 4rem;
}




/* .f13hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5 ease-in-out;
    border: 3px solid white;
} */

/* .f13hamburger {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.burger-bars {
    top:50%;
    left:10%;
    width: 50px;
    height: 6px;
    background: #FCFCFC;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 0.5s;
}

.burger-bars::before,
.burger-bars::after {
    content: '';
    position:absolute;
    width: 50px;
    height: 6px;
    background:#FCFCFC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition:0.5s;
}

.burger-bars::before {
    top: -16px;
}

.burger-bars::after {
    top: 16px;
}  */

/* INDEX */

.headshot-container { 
    text-align: center;
}

.headshot-container img {
    max-width: 650px;
}

/* UX/PORTFOLIO */

.ios-app {
    /* background-image: url(/assets/apc-hero.png); */
    /* Need proper sizes */
    background-color: black;
}

.packd {
    /* background-image: url(/assets/packd.jpg); */
    /* Need proper sizes */
    background-color: black;
}

.project-bleed {
    /* border: dodgerblue 1px solid; */
    display: flex;
    align-items: center;
}

/* .project {
    border: red 1px solid; 
    padding: 1.5rem 0rem;
} */

.button-container {
    display: flex;
    justify-content: center;
}

.purple-button {
    padding: 1em 1em;
    margin: 1rem 0;
    border-radius: .4em;
    border: none;
    background-color: var(--purple);
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--main-text);
    letter-spacing: 0.05em;
}

/* .project .purple-button {
    display: flex;
    justify-content: center;
} */

.project-bleed {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: center;
}

/* ABOUT */

.hobbies {
    background-color: #FFFFFF;
    color: var(--purple);
    padding-top: 2rem;
    text-align: center;
}

.hobby {
    padding: 1.5rem 0rem;
}

.dark-text {
    color: #000;
}

/* CONTACT */

.contact-heading {
    text-align: center;
}

.contact-body {
    padding: 1.5rem 0;
}

.contact-span {
    color: var(--purple);
    border-bottom: 1px solid;
    /* above is underline from original design, would recommend underline OR italics but not both */
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: .4em;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 45%;
    max-width: 10rem;
    padding: .75em .5em;
    margin: 1rem 0;
    border-radius: .4em;
    border: none;
    background-color: var(--purple);
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--main-text);
    letter-spacing: 0.05em;
    /* font-weight: bold; */
}

/* MAIN */

.main-section {
    padding-bottom: 1.5rem;
}


/* FOOTER */

footer {
    background-color: white;
    color: black;
    padding: 2rem 0rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* DO NOT FORGET TO REMOVE THIS LATER AFTER ADDING WILDCARD SELECTOR */
}

