html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL STYLING */

:root {
    --purple: #6a46fe;
    --light-blue: #25f8ea;
    --dark-blue: #3633ff;
    --main-text: 'Roboto Slab', serif;

}

@font-face {
    font-family: spartan;
    src: url(/assets/league-spartan/LeagueSpartan-Bold.otf);
}

html {
    background-color: #000;
    color: #FFFFFF;
    font-family: spartan;
    letter-spacing: 0.02em;
    /* font-family: 'Roboto Slab', serif; */
}

/* * {
    padding: 0;
    margin: 0;
} */

h1, 
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* text-align: center; */
    line-height: 1.5em;
}

p {
    font-family: var(--main-text);
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    padding: 0em .5em;
}

/* HAMBURGER */

.nav-container {
    padding: 1rem 0rem;
    display: flex;
}

.hamburger {
    display: flex;
    justify-content: end;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}

/* INDEX */

/* UX/PORTFOLIO */

.ios-app {
    /* background-image: url(/assets/apc-hero.png); */
    /* Need proper sizes */
    background-color: black;
}

.packd {
    /* background-image: url(/assets/packd.jpg); */
    /* Need proper sizes */
    background-color: black;
}

.project-bleed {
    border: dodgerblue 1px solid;
    display: flex;
    align-items: center;
}

.project {
    border: red 1px solid;
    /* padding: 1.5rem 0rem; */
}

.button-container {
    display: flex;
    justify-content: center;
}

.purple-button {
    padding: 1em 1em;
    margin: 1rem 0;
    border-radius: .4em;
    border: none;
    background-color: var(--purple);
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--main-text);
    letter-spacing: 0.05em;
}

/* .project .purple-button {
    display: flex;
    justify-content: center;
} */

.project-bleed {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: center;
}

/* ABOUT */

.hobbies {
    background-color: #FFFFFF;
    color: var(--purple);
    padding-top: 2rem;
    text-align: center;
}

.hobby {
    padding: 1.5rem 0rem;
}

.dark-text {
    color: #000;
}

/* CONTACT */

.contact-heading {
    text-align: center;
}

.contact-span {
    color: var(--purple);
    border-bottom: 1px solid;
    /* above is underline from original design, would recommend underline OR italics but not both */
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: .4em;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 45%;
    max-width: 10rem;
    padding: .75em .5em;
    margin: 1rem 0;
    border-radius: .4em;
    border: none;
    background-color: var(--purple);
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--main-text);
    letter-spacing: 0.05em;
    /* font-weight: bold; */
}


/* FOOTER */
.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* DO NOT FORGET TO REMOVE THIS LATER AFTER ADDING WILDCARD SELECTOR */
}



/* HAMBURGER QUERIES */
@media (max-width: 700px) {
    .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-ul.show {
        display: flex;
    }
    
    .hamburger {
        display: block;
    }
}
